@import "tailwindcss";

:root {
    --background: #F9FAFB;
    --foreground: #171717;
    --dark-orange: #D3590B;
    --light-orange: #FFE8D9;
    --warning-orange: #E08D00;
    --warning-orange-light: #FFF0D7;
    --success-green: #27AE60;
    --success-green-light: #F1FFF7;
    --error-red: #EF4444;
    --error-red-light: #FFE0E0;
    --form-grey: #E5E7EB;
    --button-grey: #1F1F1F;
    --neutral-grey: #6B7280;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Manrope, sans-serif;
}
